.title{
     margin-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
    background-color: rgb(234, 192, 141);
    
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgb(234, 234, 146);
}
.wrapper{
    width: 650px;
    height: 330px;
    perspective: 1000px; /* IMPORTANT for 3D */
}

.flip-card{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
}

.wrapper:hover .flip-card{
    transform: rotateY(180deg);
}

.card{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    backface-visibility: hidden;
}

.front{
    background: rgb(197,129,2);
    border: 2px solid rgb(110,79,20);
}

.back{
    background: rgb(147, 101, 15);
    color: rgb(167, 123, 123);
    transform: rotateY(180deg);
}


.circle{
    width: 100px;
    height: 100px;
    border: 5px solid rgb(77, 22, 22);
    border-radius: 50%;
}

.square{
    width: 100px;
    height: 100px;
    border: 5px solid rgb(77, 22, 22);
}

.triangle{
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 100px solid rgb(77, 22, 22);
    
}
